.navbar {
    background: #445fd6;
  }
  
  .nav-link,
  .navbar-brand {
    color: #ffffff;
    cursor: pointer;
  }
  
  .nav-link {
    margin-right: 1em !important;
  }
  
  .nav-link:hover {
    background: #ffffff;
    color: #445fd6;
  }
  
  .navbar-toggler {
    background: #ffffff !important;
  }
  .message {
    color: #f4f4f4;
  }